﻿<div class="row">
    <div>
        <button type="button" class="btn btn-primary visible-xs" data-toggle="collapse" data-target="#filterList">Show Filter</button>
        <div id="filterList" class="col-sm-3 collapse navbar-collapse">
            <div class="panel panel-default" ng-repeat="prop in filterList" ng-init="filter[prop]={}">
                <div class="panel-heading">{{prop}}</div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="opt in getOptionsFor(prop) | orderBy:opt" ng-click="rowClicked(prop, opt)">
                        <input type="checkbox" ng-model="filter[prop][opt]" ng-click="toggleCheckboxSelection($event)" />&nbsp;{{opt}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <h4>Number of results: {{filtered.length}}</h4>
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    Sort by: {{sortItemsListNames[sortItemsField]}} <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-repeat="prop in sortItemsList" ng-click="sortItems(prop)" role="menuitem">
                        <a href="">{{sortItemsListNames[prop]}}</a>
                    </li>
                </ul>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="r in filtered=(products | filter:filterByProperties | filter : searchProduct | orderBy: sortItemsField)">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="img-responsive" ng-src="{{itemPhotoUrl(r.Name)}}" alt="">
                        </div>
                        <div class="col-sm-3">
                            <h4>{{r.Name}}</h4>
                            {{r.InventoryCount}} in stock <br />
                            Manufacturer: {{r.Manufacturer}} <br />
                            Category: {{r.Category}}
                        </div>
                        <div class="col-sm-5 pull-right">
                            <button type="button" uib-tooltip="Added to cart!" tooltip-trigger="focus" class="btn btn-primary pull-right" ng-disabled="!r.InventoryCount || r.addQuantity == undefined" ng-click="addToCart(r)">Add To Cart ({{r.Price | currency}})</button>
                            <input name="quantity" ng-model="r.addQuantity" type="number" ng-disabled="!r.InventoryCount || r.InventoryCount - cart[r.Id].cartQuantity <= 0 " required min="1" ng-init="r.addQuantity=1" max="{{r.InventoryCount - cart[r.Id].cartQuantity}}" />
                        </div>
                    </div>
                </li>
            </ul>
            <p ng-hide="filtered.length">No items found</p>
        </div>
    </div>
</div>