﻿<div style="min-width:200px">
    <div ng-repeat="item in cart">
        <div class="row">
            <div class="col-sm-8">
                <img class="img-thumbnail" ng-src="{{itemPhotoUrl(item.Name)}}" />
            </div>
            <div class="col-sm-3">
                <h4>{{item.Name}}</h4>
                {{item.Price | currency}}
                Qty: {{item.cartQuantity}}
            </div>
        </div>
    </div>
    <div class="row" ng-hide="cartTotalQuantity">
        <div class="col-sm-8">
            No items in cart
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <a ui-sref="cart" class="btn btn-primary" ng-click="closeCartPreview()">View Cart</a>
        </div>
    </div>
</div>