﻿
<div>
    <div class="modal-header">
        <h3 class="modal-title">Cart</h3>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-10 col-sm-push-1">
                <h4>Number of items in cart: {{cartTotalQuantity}}</h4>
                <ul class="list-group" ng-init="cartTotal = 0">
                    <li class="list-group-item" ng-repeat="item in cart">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-responsive" ng-src="{{itemPhotoUrl(item.Name)}}" alt="">
                            </div>
                            <div class="col-sm-3">
                                <h4>{{item.Name}}</h4>
                                Manufacturer: {{item.Manufacturer}} <br />
                                Category: {{item.Category}}
                            </div>
                            <div class="col-sm-5 pull-right">
                                {{item.Total = item.Price*item.cartQuantity; item.Total | currency}}
                                <button type="button" title="Remove from cart" class="btn btn-danger pull-right" ng-click="removeFromCart(item.Id)"><span class="text-danger glyphicon glyphicon-trash"></span></button>
                                <input name="quantity" class="pull-right" ng-model="item.cartQuantity" type="number" required min="1" max="{{item.InventoryCount}}" />
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <strong>Total:</strong> <span class="pull-right"> {{updateCartInfo() | currency}}</span>
                    </li>
                </ul>
                <div class="modal-footer">
                    <a ui-sref="browse" class="btn btn-default">Back to Browse</a>
                    <a ui-sref="checkout" role="button" class="btn btn-primary" ng-disabled="!cartTotalQuantity">Go to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>