﻿
<div>
    <uib-alert type="danger" ng-show="saleError">Checkout failed. Please try again.</uib-alert>
    <div class="modal-header">
        <h3 class="modal-title">Checkout</h3>
    </div>
    <div>
        Number of items in cart: {{cartTotalQuantity}}<br />
        Total: {{cartTotalPrice | currency}}
        <div class="form-group">
            <label for="userEmail">Email address</label>
            <input ng-model="userEmail" type="email" required class="form-control" id="userEmail" placeholder="Email">
        </div>

        <div class="modal-footer">
            <a ui-sref="cart" class="btn btn-default">Back to Cart</a>
            <button type="button" ng-hide="saleLoading" ng-disabled="userEmail == undefined" ng-click="checkout(userEmail)" class="btn btn-primary">Finish Checkout</button>
            <button type="button" ng-show="saleLoading" ng-disabled="true" class="btn btn-primary">Processing...</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->