﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<body @RenderSection("bodyAttributes", required: false)>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarButtons">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Web Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="navbarButtons" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("API", "API", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Users", "Index", "User", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Sales", "Index", "Sale", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Logout", "Logout", "User", new { area = "" }, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "User", new { area = "" }, null)</li>
                    }
                </ul>
                @RenderSection("navbar", required: false)
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Web Store</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
