@section head {
    <title>Swagger UI</title>
    <link rel="icon" type="image/png" href="~/swagger/ui/images/favicon-32x32-png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/swagger/ui/images/favicon-16x16-png" sizes="16x16" />
    <link href='~/swagger/ui/css/typography-css' media='screen' rel='stylesheet' type='text/css' />
    @*<link href='~/swagger/ui/css/reset-css' media='screen' rel='stylesheet' type='text/css' />*@
    <link href='~/swagger/ui/css/screen-css' media='screen' rel='stylesheet' type='text/css' />
    <link href='~/swagger/ui/css/reset-css' media='print' rel='stylesheet' type='text/css' />
    <link href='~/swagger/ui/css/print-css' media='print' rel='stylesheet' type='text/css' />

}

@section bodyAttributes {
    class="swagger-section"
}

<div>
    <div id='header' style="display:none">
        <div class="swagger-ui-wrap">
            <a id="logo" href="http://swagger.io">swagger</a>

        </div>
    </div>

    <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>

    <form id='api_selector' class="form-inline">
        <div class='form-group'>
            <label for="userID">User ID</label>
            <input class="form-control" placeholder="user_id" id="input_userID" name="userID" type="text" />
            <label for="apiKey">API Key</label>
            <input class="form-control" placeholder="api_key" id="input_apiKey" name="apiKey" type="text" />
        </div>  
    </form>
    <div class="row">
        <div id="swagger-ui-container" class="swagger-ui-wrap col-xs-12"></div>
    </div>
</div>

@section scripts {
    <script>
        oldJquery = jQuery.noConflict(true);
    </script>
    <script src='~/swagger/ui/lib/jquery-1-8-0-min-js' type='text/javascript'></script>
    <script src='~/swagger/ui/lib/jquery-slideto-min-js' type='text/javascript'></script>
    <script src='~/swagger/ui/lib/jquery-wiggle-min-js' type='text/javascript'></script>
    <script src='~/swagger/ui/lib/jquery-ba-bbq-min-js' type='text/javascript'></script>
    <script src='~/swagger/ui/lib/handlebars-2-0-0-js' type='text/javascript'></script>
    <script src='~/swagger/ui/lib/underscore-min-js' type='text/javascript'></script>
    <script src='~/swagger/ui/lib/backbone-min-js' type='text/javascript'></script>
    <script src='~/swagger/ui/swagger-ui-js' type='text/javascript'></script>
    <script src='~/swagger/ui/lib/highlight-7-3-pack-js' type='text/javascript'></script>
    <script src='~/swagger/ui/lib/jsoneditor-min-js' type='text/javascript'></script>
    <script src='~/swagger/ui/lib/marked-js' type='text/javascript'></script>
    <script src='~/swagger/ui/lib/swagger-oauth-js' type='text/javascript'></script>
    <script>
        // Get Swashbuckle config into JavaScript
        function arrayFrom(configString) {
            return (configString !== "") ? configString.split('|') : [];
        }

        function stringOrNullFrom(configString) {
            return (configString !== "null") ? configString : null;
        }
    </script>
    <!--SwashBuckle Config-->
    <script src="~/swagger/ui/index"></script>
    <script type="text/javascript">
        $(function () {
            var url = window.location.search.match(/url=([^&]+)/);
            if (url && url.length > 1) {
                url = decodeURIComponent(url[1]);
            } else {
                url = "http://petstore.swagger.io/v2/swagger.json";
            }

            window.swaggerUi = new SwaggerUi({
                url: swashbuckleConfig.rootUrl + "/" + swashbuckleConfig.discoveryPaths[0],
                dom_id: "swagger-ui-container",
                booleanValues: swashbuckleConfig.booleanValues,
                onComplete: function (swaggerApi, swaggerUi) {
                    if (typeof initOAuth == "function" && swashbuckleConfig.oAuth2Enabled) {
                        initOAuth({
                            clientId: swashbuckleConfig.oAuth2ClientId,
                            realm: swashbuckleConfig.oAuth2Realm,
                            appName: swashbuckleConfig.oAuth2AppName
                        });
                    }
                    $('pre code').each(function (i, e) {
                        hljs.highlightBlock(e)
                    });

                    addApiKeyAuthorization();
                    //window.swaggerUi.api.clientAuthorizations.add("key", new SwaggerClient.ApiKeyAuthorization("Authorization", "XXXX", "header"));
                    //window.swaggerUi.api.clientAuthorizations.add("key2", new SwaggerClient.ApiKeyAuthorization("Authorization2", "YYYY", "header"));

                    window.swaggerApi = swaggerApi;
                    _.each(swashbuckleConfig.customScripts, function (script) {
                        $.getScript(script);
                    });
                },
                onFailure: function (data) {
                    log("Unable to Load SwaggerUI");
                },
                docExpansion: swashbuckleConfig.docExpansion,
                sorter: "alpha"
            });

            if (window.swashbuckleConfig.validatorUrl !== '')
                window.swaggerUi.options.validatorUrl = window.swashbuckleConfig.validatorUrl;

            function addApiKeyAuthorization() {
                //var userID = encodeURIComponent($('#input_userID')[0].value);
                //var apiKey = encodeURIComponent($('#input_apiKey')[0].value);
                var userID = $('#input_userID')[0].value;
                var apiKey = $('#input_apiKey')[0].value;
                if (userID && userID.trim() != "" && apiKey && apiKey.trim() != "") {
                    var userIDAuth = new SwaggerClient.ApiKeyAuthorization("xcmps383authenticationid", userID, "header");
                    window.swaggerUi.api.clientAuthorizations.add("userID", userIDAuth);

                    var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization("xcmps383authenticationkey", apiKey, "header");
                    window.swaggerUi.api.clientAuthorizations.add("apiKey", apiKeyAuth);
                    log("added user " + userID);
                    log("added api key " + apiKey);
                }
            }

            $('#input_apiKey').change(addApiKeyAuthorization);
            $('#input_userID').change(addApiKeyAuthorization);


            // if you have an apiKey you would like to pre-populate on the page for demonstration purposes...

            var userID = "@User.Identity.Name";
            var apiKey = "@ViewBag.ApiKey" ;
            $('#input_userID').val(userID);
            $('#input_apiKey').val(apiKey);
            //window.swaggerUi.api.clientAuthorizations.add("key", new SwaggerClient.ApiKeyAuthorization("Authorization", "XXXX", "header"));
            //window.swaggerUi.api.clientAuthorizations.add("key2", new SwaggerClient.ApiKeyAuthorization("Authorization2", "YYYY", "header"));


            window.swaggerUi.load();

            function log() {
                if ('console' in window) {
                    console.log.apply(console, arguments);
                }
            }
        });
    </script>
}