﻿@section head {
    <link href="~/Content/angular-csp.css" rel="stylesheet" />
}

@section bodyAttributes {
    ng-app="WebStoreApp" ng-controller="ProductController" ng-cloak
}

@{
    ViewBag.Title = "Web Store";
}

@section navbar {
    <ul class="nav navbar-nav navbar-right">
        <li>
            <button class="btn navbar-btn hidden-xs" 
                    popover-title="Cart" 
                    uib-popover-template="'Content/app/views/cart-preview.html'" 
                    popover-placement="bottom-right" 
                    popover-trigger="outsideClick" 
                    popover-is-open="cartPreviewOpen"
                    role="button">
                        Cart ({{cartTotalQuantity}}) <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>
            <a class="visible-xs" ui-sref="cart" data-toggle="collapse" data-target="#navbarButtons">View Cart ({{cartTotalQuantity}})</a>
        </li>
    </ul>
<form class="navbar-form navbar-right" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Products" ng-model="searchProduct.Name">
    </div>
</form>

}

<div class="well" ui-view="list">

</div>

@section scripts{
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/angular/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/app/WebStore.js"></script>
    <script src="~/Scripts/app/states.js"></script>
}
