﻿@model WebStore.Models.Sale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Manufacturer</th>
                    <th>Created Date (UTC)</th>
                    <th>Last Modified Date (UTC)</th>
                </tr>
                @*@foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.Manufacturer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.LastModifiedDate)
                        </td>
                    </tr>
                }*@
                @foreach (var item in ViewBag.MergedProducts)
                {
                    <tr>
                        <td>
                            @item.Item1.Name
                        </td>
                        <td>
                            @item.Item1.Price
                        </td>
                        <td>
                            @item.Item2.Quantity
                        </td>
                        <td>
                            @item.Item1.Category.Name
                        </td>
                        <td>
                            @item.Item1.Manufacturer.Name
                        </td>
                        <td>
                            @item.Item1.CreatedDate
                        </td>
                        <td>
                            @item.Item1.LastModifiedDate
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
