﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/*Angular UI cursor fix*/
nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}

*/
