﻿<!DOCTYPE html>
<html>
<head>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        .content-block {
            padding: 0 0 20px;
        }

        table {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <center>
            <div class="well" style="width:75%">
                <h1 class="text-center content-block">Thanks for your order!</h1>
                <div class="content-block">
                    Order Number @ViewBag.Sale.Id <br />
                </div>
                <ul class="list-group content-block">
                    @*@foreach (var item in ViewBag.Sale.Products)
                    {
                        <li class="list-group-item">
                            <table>
                                <tr>
                                    <td style="width:25%">
                                        <img class="img-responsive" alt="" src="https://placehold.it/150x150?text=@item.Name">
                                    </td>
                                    <td>
                                        <h4>@item.Name</h4>
                                        Manufacturer: @item.Manufacturer.Name <br>
                                        Category: @item.Category.Name
                                    </td>
                                    <td align="right">
                                        $@item.Price<br>
                                        Quantity: 1
                                    </td>
                                </tr>
                            </table>
                        </li>
                    }*@
                    @foreach (var item in ViewBag.MergedProducts)
                    {
                        <li class="list-group-item">
                            <table>
                                <tr>
                                    <td style="width:25%">
                                        <img class="img-responsive" alt="" src="https://placehold.it/150x150?text=@item.Item1.Name">
                                    </td>
                                    <td>
                                        <h4>@item.Item1.Name</h4>
                                        Manufacturer: @item.Item1.Manufacturer.Name <br>
                                        Category: @item.Item1.Category.Name
                                    </td>
                                    <td align="right">
                                        $@item.Item1.Price<br>
                                        Quantity: @item.Item2.Quantity
                                    </td>
                                </tr>
                            </table>
                        </li>
                    }
                    <li class="list-group-item">
                        <strong style="text-align:left">Total:</strong> <span class="pull-right">$@ViewBag.Sale.TotalAmount</span>
                    </li>
                </ul>
                <div class="content-block text-center">
                    @*<a class="content-block" href="@Html.ActionLink("Details", "Sale", new { Id = @ViewBag.Sale.Id })">View receipt in browser</a>-->*@
                </div>
            </div>
        </center>
    </div>

</body>
</html>

